[Unit]
Description=AetherOS Snapshot Service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/home/miqua/Desktop/AetherOS/install/snapshot-manager.sh / /.snapshots boot
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
